@font-face {
  font-family: 'basier_square_monoregular';
  src: url('basiersquaremono-regular-webfont.eot');
  src: url('basiersquaremono-regular-webfont.eot?#iefix') format('embedded-opentype'), url('basiersquaremono-regular-webfont.woff2') format('woff2'), url('basiersquaremono-regular-webfont.woff') format('woff'), url('basiersquaremono-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'basier_circleregular';
  src: url('basiercircle-regular-webfont.eot');
  src: url('basiercircle-regular-webfont.eot?#iefix') format('embedded-opentype'), url('basiercircle-regular-webfont.woff2') format('woff2'), url('basiercircle-regular-webfont.woff') format('woff'), url('basiercircle-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'basier_circlesemibold';
  src: url('basiercircle-semibold-webfont.eot');
  src: url('basiercircle-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('basiercircle-semibold-webfont.woff2') format('woff2'), url('basiercircle-semibold-webfont.woff') format('woff'), url('basiercircle-semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'basier_circlemedium';
  src: url('basiercircle-medium-webfont.eot');
  src: url('basiercircle-medium-webfont.eot?#iefix') format('embedded-opentype'), url('basiercircle-medium-webfont.woff2') format('woff2'), url('basiercircle-medium-webfont.woff') format('woff'), url('basiercircle-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'basier_circle_monobold';
  src: url('basiercirclemono-bold-webfont.eot');
  src: url('basiercirclemono-bold-webfont.eot?#iefix') format('embedded-opentype'), url('basiercirclemono-bold-webfont.woff2') format('woff2'), url('basiercirclemono-bold-webfont.woff') format('woff'), url('basiercirclemono-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'basier_circle_monobold_italic';
  src: url('basiercirclemono-bolditalic-webfont.eot');
  src: url('basiercirclemono-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('basiercirclemono-bolditalic-webfont.woff2') format('woff2'), url('basiercirclemono-bolditalic-webfont.woff') format('woff'), url('basiercirclemono-bolditalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'basier_circle_monomedium';
  src: url('basiercirclemono-medium-webfont.eot');
  src: url('basiercirclemono-medium-webfont.eot?#iefix') format('embedded-opentype'), url('basiercirclemono-medium-webfont.woff2') format('woff2'), url('basiercirclemono-medium-webfont.woff') format('woff'), url('basiercirclemono-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'basier_circle_monoMdIt';
  src: url('basiercirclemono-mediumitalic-webfont.eot');
  src: url('basiercirclemono-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'), url('basiercirclemono-mediumitalic-webfont.woff2') format('woff2'), url('basiercirclemono-mediumitalic-webfont.woff') format('woff'), url('basiercirclemono-mediumitalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'basier_circle_monoregular';
  src: url('basiercirclemono-regular-webfont.eot');
  src: url('basiercirclemono-regular-webfont.eot?#iefix') format('embedded-opentype'), url('basiercirclemono-regular-webfont.woff2') format('woff2'), url('basiercirclemono-regular-webfont.woff') format('woff'), url('basiercirclemono-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'basier_circle_monoRgIt';
  src: url('basiercirclemono-regularitalic-webfont.eot');
  src: url('basiercirclemono-regularitalic-webfont.eot?#iefix') format('embedded-opentype'), url('basiercirclemono-regularitalic-webfont.woff2') format('woff2'), url('basiercirclemono-regularitalic-webfont.woff') format('woff'), url('basiercirclemono-regularitalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'basier_circle_monosemibold';
  src: url('basiercirclemono-semibold-webfont.eot');
  src: url('basiercirclemono-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('basiercirclemono-semibold-webfont.woff2') format('woff2'), url('basiercirclemono-semibold-webfont.woff') format('woff'), url('basiercirclemono-semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'basier_circle_monoSBdIt';
  src: url('basiercirclemono-semibolditalic-webfont.eot');
  src: url('basiercirclemono-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('basiercirclemono-semibolditalic-webfont.woff2') format('woff2'), url('basiercirclemono-semibolditalic-webfont.woff') format('woff'), url('basiercirclemono-semibolditalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  /* Firefox */
  -webkit-animation: fadein 1s;
  /* Safari and Chrome */
  -o-animation: fadein 1s;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* * {
  border-style: solid;
  border-width: 1px;
} */

/* NAVIGATION */

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'basier_circle_monomedium';
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 30px;
}

h2 {
  font-family: 'basier_circlesemibold';
  font-size: 1rem;
}

p {
  font-family: 'basier_circleregular';
  font-size: .8rem;
}

h1 a, h1 a:visited {
  text-decoration: none;
  color: initial;
}

h2 a, h2 a:link, h2 a:visited {
  text-decoration: none;
  color: initial;
}

p a, p a:link, p a:visited {
  text-decoration: none;
  color: initial;
  opacity: .5;
}

p a:hover {
  opacity: 1;
}

.navbar, .navbar2 {
  margin: auto;
  width: 90%;
  display: flex;
  flex: 1;
  font-family: 'basier_circleregular';
  font-size: .8rem;
  height: auto;
  line-height: 25px;
}

.navbar {
  padding-top: 50px;
}

.navbar2 {
  padding-bottom: 50px;
}

.navbar2 a, .navbar2 a:visited {
  color: rgb(20, 20, 20);
  text-decoration: none;
}

/* TAGS */

.tagbar {
  padding-top: 15px;
  overflow: scroll;
  margin: auto;
  width: 90%;
  display: flex;
  flex: 1;
  height: auto;
  line-height: 25px;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.tagbar::-webkit-scrollbar {
  width: 0 !important
}

/* MAIN MODULE (TEXT) */

.m-module001 {
  padding-top: 80px;
  padding-bottom: 80px;
  margin: auto;
  width: 90%;
  font-family: 'basier_circle_monomedium';
  font-size: 3rem;
  line-height: auto;
  height: auto;
  hyphens: auto;
  text-align: center;
}

.m-projectdescription {
  display: none;
  justify-content: right;
  text-align: right;
  padding: 25px 0 50px 0;
  width: 90%;
  margin: auto;
}

.m-module001 a, .m-module001 a:visited {
  text-decoration: none;
  font-size: 1.4rem;
  color: rgb(20, 20, 20);
  opacity: .5;
}

.m-module001 a:hover {
  opacity: 1;
}

.mh-module {
  margin: auto;
  width: 90%;
  font-family: 'basier_circle_monomedium';
  font-size: 1.8rem;
  line-height: 40px;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.mh-module img {
  width: 100%;
}

/* WORKS */

.works {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  width: 90%;
  display: flex;
  flex: 1;
  font-family: 'basier_circleregular';
  font-size: .8rem;
  height: auto;
  line-height: 25px;
}

.works a, .works a:visited {
  text-decoration: none;
  color: rgb(20, 20, 20);
  opacity: .5;
}

.works a:hover {
  opacity: 1;
  text-decoration: line-through;
}

.w-module001 {
  font-family: 'basier_circlesemibold';
  font-size: 1rem;
  width: 90%;
}

.w-module001 a {
  font-family: 'basier_circle_monomedium';
  font-size: .8rem;
  font-weight: 100;
}

.w-module002 {
  width: 100%;
}

.w-module002 svg {
  width: 8px;
  stroke: black;
  stroke-width: 150;
  fill: transparent;
  padding-left: 5px;
}

/* FOOTER */

.footercasing {
  width: 100%;
  background-color: rgb(20, 20, 20);
  color: white;
  margin-top: 50px;
  padding-bottom: 50px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  bottom: 0px;
  margin: auto;
  width: 90%;
  display: flex;
  flex: 1;
  font-size: .8rem;
  color: white;
  height: auto;
  line-height: 25px;
  font-family: 'basier_circleregular';
}

.footer p {
  font-family: 'basier_circle_monoregular';
}

.footer hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: rgb(255, 255, 255);
  /* old IE */
  background-color: rgb(78, 78, 78);
  /* Modern Browsers */
}

.footer a, .footer a:link, .footer a:visited {
  text-decoration: none;
  color: white !important;
  opacity: .5;
}

.footer a:hover {
  opacity: 1 !important;
  text-decoration: line-through !important;
}

.footer .active {
  opacity: 1 !important;
  text-decoration: line-through !important;
}

/* MODULES */

.module001 {
  width: 100%;
}

.module001 a:nth-child(1) {
  font-family: 'basier_circlesemibold';
  font-size: 1rem;
}

.module001 a:nth-child(1):hover {
  text-decoration: line-through;
}

.module002 {
  text-align: center;
  width: 40%;
}

.module003 {
  width: 100%;
  text-align: right;
}

.module003 i {
  margin-left: 5px;
  margin-right: 5px;
  opacity: .5;
  font-size: 1rem;
}

.module003 i:hover {
  opacity: 1;
}

.module001 a, .module001 a:visited {
  cursor: pointer;
  text-decoration: none;
  color: rgb(20, 20, 20);
}

.module003 a {
  opacity: .5;
  cursor: pointer;
  padding-left: 20px;
}

.module003 a:hover {
  opacity: 1;
  text-decoration: line-through;
}

.module003 .active {
  opacity: 1;
  text-decoration: line-through;
}

/* PROJECTS */

.projectbase {
  position: relative;
}

.projectbase svg {
  width: 50px;
  fill: white;
}

.projectbase_info {
  position: absolute;
  left: 0;
  width: 33.33%;
  height: 100%;
  margin-right: 8px;
  background-color: rgb(20, 20, 20);
  z-index: 500;
  color: white;
  font-family: 'basier_circle_monomedium';
  font-size: 2rem;
  opacity: .98;
  
}

.projectbase_info2 {
  position: absolute;
  right: 0;
  width: 33.33%;
  height: 100%;
  margin-left: 8px;
  background-color: rgb(20, 20, 20);
  z-index: 500;
  color: white;
  font-family: 'basier_circle_monomedium';
  font-size: 2rem;
  opacity: .98;
}

.projectbase_info2 p {
  font-family: 'basier_circleregular';
  font-weight: 100;
  font-size: .8rem;
  text-align: right;
}

.projectcasing {
  padding-left: 33.33%;
  overflow: scroll;
  display: block;
  position: relative;
  overscroll-behavior-x: contain;
  -ms-overflow-style: none;
}

.projectcasing::-webkit-scrollbar {
  display: none;
}

.projectcasing2 {
  padding-right: 33.33%;
  overflow: scroll;
  display: block;
  position: relative;
  overscroll-behavior-x: contain;
  -ms-overflow-style: none;
}

.projectcasing2::-webkit-scrollbar {
  display: none;
}

.projectbase_info_child {
  padding: 50px;
}

.projectbase_info_child p {
  line-height: 1.2rem;
}

.projectbase_divider {
  width: 90%;
  background-color: white;
  z-index: 6000;
  height: 1px;
  margin: auto;
}

.scroll {
  position: absolute;
  z-index: 5000;
  color: rgb(20, 20, 20);
  width: 3%;
  right: 0%;
  padding: 0 20px 0 20px;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(20, 20, 20));
  /* background-color: black; */
  text-align: center;
  bottom: 0px;
  font-family: 'basier_circleregular';
  font-size: .8rem;
  opacity: .8;
  height: 100%;
}

.scroll2 {
  position: absolute;
  z-index: 5000;
  color: rgb(20, 20, 20);
  width: 3%;
  right: 33.33%;
  padding: 0 20px 0 20px;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(20, 20, 20));
  /* background-color: black; */
  text-align: center;
  bottom: 0px;
  font-family: 'basier_circleregular';
  font-size: .8rem;
  opacity: .8;
  height: 100%;
}

.scroll img {
  width: 40px;
}

.projects {
  width: 350%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  text-align: left;
  font-family: 'basier_circle_monomedium';
  font-size: .6rem;
  /* flex-flow: row wrap; */
  margin: auto;
  /* justify-content: space-between; */
  background-color: rgb(20, 20, 20);
}


.p-module001 {
  width: 33.30%;
  padding-bottom: 0px;
}

.p-module001 img {
  width: 100%;
}

.p-module001 img:hover {
  width: 100%;
}

/* SUBSTANCE */

.substance {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  flex: 1;
  font-family: 'basier_circle_monomedium';
  font-size: .8rem;
  height: auto;
  line-height: 1.5rem;
  padding-top: 50px;
  padding-bottom: 50px;
}

.substance img {
  width: 100%;
}

.substance_image {
  width: 100%;
  margin: auto;
  padding: 10px 0px 10px 0px;
}

.substance_image_grid {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  width: 100%;
  margin: auto;
  justify-content: space-around;
  padding: 25px 0 25px 0;
}

.substance_image_child {
  width: 48%;
}

.substance_image_child img {
  width: 100%;
}

.substance_image img {
  width: 100%;
}

.substance_poster {
  width: 100%;
  margin: auto;
  padding: 10px 0px 10px 0px;
}

.substance_poster img {
  width: 100%;
}

.substance_module001 {
  width: 30%;
}

.substance_module002 {
  text-align: center;
  width: 5%;
}

.substance_module003 {
  width: 60%;
}

.substance_module004 {
  display: flex;
}

.substance_spacer {
  width: 0%;
}

.substance_mobileposter {
  display: none;
  width: 100%;
  overflow: scroll;
  padding: 10px 0px 10px 0px;
}

.substance_mobileposter img {
  height: 500px;
}

.icons {
  padding-top: 0px;
}

.icons img {
  width: 25px;
}

/* TAGS */

.button {
  font-family: 'basier_circleregular';
  font-size: .8rem;
  background-color: white;
  border: none;
  color: rgb(20, 20, 20);
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  opacity: .8;
}

.button:hover {
  opacity: 1;
}

.buttons {
  font-family: 'basier_circleregular';
  font-size: .8rem;
  background-color: transparent;
  border: none;
  border-color: white;
  border-style: solid;
  border-width: 1.5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}

.buttons:hover {
  background-color: white;
  color: black;
}

.tags {
  font-family: 'basier_circleregular';
  font-size: .8rem;
  background-color: rgb(20, 20, 20);
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  opacity: .8;
}

.tags:hover {
  opacity: 1;
}

/* OVERLAY */

.container, .image, .overlay, .text, .text2 {
  display: show;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(20, 20, 20);
  margin: auto;
}

.container:hover .overlay {
  opacity: .8;
}

.text {
  font-family: 'basier_circle_monomedium';
  font-size: 1.5rem;
  color: white;
  position: relative;
  top: 35px;
  padding-left: 10%;
  padding-right: 10%;
  overflow: scroll;
  overscroll-behavior-x: contain;
  -ms-overflow-style: none;
}

.text::-webkit-scrollbar {
  display: none;
}

.overlay a {
  text-decoration: none;
  color: inherit;
}

.text2 {
  font-family: 'basier_circleregular';
  font-size: .8rem;
  color: white;
  position: relative;
  top: 50px;
  padding-left: 10%;
  padding-right: 10%;
}

.text3 {
  font-family: 'basier_circleregular';
  font-size: .8rem;
  color: white;
  position: absolute;
  top: 125%;
  left: 10%;
}

.overlay hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: rgb(255, 255, 255);
  /* old IE */
  background-color: rgb(141, 141, 141);
  /* Modern Browsers */
}
.bookend {
  width: 33.33%;
}


@media only screen and (max-width: 728px) {
  .projectbase {
    position: relative;
  }
  .projectbase_mobile {

    background-color: rgb(20, 20, 20);
    color: white;
  }
  .projectbase_mobile a {

    color: black;
  }
  .tags_mobile {

    font-family: 'basier_circleregular';
    font-size: .8rem;
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(20, 20, 20);
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    opacity: .8;
  }
  .projectcasing {
    
    padding-left: 0%;
    overflow: scroll;
    display: block;
    position: relative;
    overscroll-behavior-x: contain;
  }
  .projectcasing2 {
    
    padding-right: 0%;
    overflow: scroll;
    display: block;
    position: relative;
    overscroll-behavior-x: contain;
  }
  .projectbase_info, .projectbase_info2 {
    display: none;
  }
  .projectbase_info_child {
    
    display: none
  }
  .projects {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    font-family: 'basier_circle_monomedium';
    font-size: .6rem;
    height: auto;
  }
  .p-module001, .p-module002, .p-module003, .p-module004, .p-module005, .p-module006 {
    width: 100%;
    margin: auto;
  }
  .p-module001 img, .p-module002 img, .p-module003 img, .p-module004 img, .p-module005 img, .p-module006 img {
    width: 100%;
  }
  .navbar {
    padding-top: 25px;
    margin: auto;
    width: 90%;
    display: flex;
    flex: 1;
    font-family: 'basier_circleregular';
    font-size: .8rem;
    height: auto;
    line-height: 25px;
  }
  .m-module001 {
    width: 70%;
    font-size: 2.5rem;
    line-height: auto;
    text-align: center;
    hyphens: manual;


  }
  .works {

    flex-direction: row;
    width: 90%;
  }
  .w-module001 {
    
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .w-module002 {

    padding-bottom: 25px;
    padding-top: 25px;
  }
  .w-module001 {

    width: 40%;
  }
  .w-module002 {
    width: 50%;
    right: 50px;
  }
  .module001 a:nth-child(1) {
    font-family: 'basier_circlesemibold';
    font-size: 1rem;

  }
  .navbar2 {
    padding-bottom: 25px;
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: 'basier_circleregular';
    font-size: .8rem;
    height: auto;
    line-height: 25px;

  }
  .works {
    flex-flow: row wrap;

  }
  /* FOOTER */
  .footer {
    width: 85%;
    padding-top: 25px;
  }
  .m-projectdescription {
    /* display: initial; */
    display: none;
  }
  .m-projectmodule {
    display: initial;
  }
  .overlay, .text, .text2 {
    display: none;
  }
  .substance {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .substance_module001 {
    width: 100%;
    padding-bottom: 25px;
  }
  .substance_module002 {
    width: 100%;
  }
  .substance_module003 {
    width: 100%;
  }
  .substance_image {
    width: 100%;
  }
  .substance_spacer {
    width: 20%;
  }
  .substance_poster {
    display: none;
    width: 100%;
  }
  .substance_mobileposter {
    display: inherit;
    width: 100%;
    overflow: scroll;
  }
  .substance_image_child {
    width: 100%;
  }
  .tagbar {
    width: 95%;
  }
  .scroll, .scroll2 {
    display: none;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 729px) {
  .navbar {
    padding-top: 40px;
  }
  .navbar, .navbar2 {
    width: 90%;
  }
  .projects {
    width: 500%;
    text-align: center;
    font-family: 'basier_circle_monomedium';
    font-size: .6rem;
  }
  .p-module001, .p-module002, .p-module003, .p-module004, .p-module005, .p-module006 {
    width: 100%;
  }
  .m-module001 {
    width: 90%;
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .works {
    width: 90%;
  }
  .footer {
    width: 90%;
    padding-top: 25px;
  }
  .footer a {
    text-decoration: none;
    color: black
  }
  .m-projectdescription {
    display: none;
  }
  .overlay, .text, .text2 {
    display: none;
  }
  .substance_spacer {
    width: 20%;
  }
  .scroll, .scroll2 {
    display: initial;
  }
  .bookend {
    width: 100%;
  }

  .projectbase_info_child {
    padding: 35px;
  }
}

@media only screen and (min-width: 1441px) {
  /* and (max-width: 2560px)  */
  body {
    width: 75%;
    margin: auto;
  }
}

/* TAG PHOTOGRID */

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  padding-top: 20px;
}

/* PHOTOGRID */

/* Create four equal columns that sits next to each other */

.column {
  -ms-flex: 33.3%;
  /* IE10 */
  flex: 33.3%;
  max-width: 33.3%;
}

.column img {
  vertical-align: middle;
  width: 100%;
}




/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 49.3%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* SNOWFLAKES */

.snowflake {
  color: white;
  font-size: 1.2em;
  font-family: Arial;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%
  }
  100% {
    top: 100%
  }
}

@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px)
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%
  }
  100% {
    top: 100%
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px)
  }
  50% {
    transform: translateX(80px)
  }
  100% {
    transform: translateX(0px)
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: -1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, .5s;
  animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s
}

.credit {
  width: 90%;
  margin: auto;
  text-align: right;
}






