@font-face {
    font-family: 'basier_square_monoregular';
    src: url('basiersquaremono-regular-webfont.eot');
    src: url('basiersquaremono-regular-webfont.eot?#iefix') format('embedded-opentype'), url('basiersquaremono-regular-webfont.woff2') format('woff2'), url('basiersquaremono-regular-webfont.woff') format('woff'), url('basiersquaremono-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'basier_circleregular';
    src: url('basiercircle-regular-webfont.eot');
    src: url('basiercircle-regular-webfont.eot?#iefix') format('embedded-opentype'), url('basiercircle-regular-webfont.woff2') format('woff2'), url('basiercircle-regular-webfont.woff') format('woff'), url('basiercircle-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'basier_circlesemibold';
    src: url('basiercircle-semibold-webfont.eot');
    src: url('basiercircle-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('basiercircle-semibold-webfont.woff2') format('woff2'), url('basiercircle-semibold-webfont.woff') format('woff'), url('basiercircle-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'basier_circlemedium';
    src: url('basiercircle-medium-webfont.eot');
    src: url('basiercircle-medium-webfont.eot?#iefix') format('embedded-opentype'), url('basiercircle-medium-webfont.woff2') format('woff2'), url('basiercircle-medium-webfont.woff') format('woff'), url('basiercircle-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'basier_circle_monomedium';
    src: url('basiercirclemono-medium-webfont.eot');
    src: url('basiercirclemono-medium-webfont.eot?#iefix') format('embedded-opentype'), url('basiercirclemono-medium-webfont.woff2') format('woff2'), url('basiercirclemono-medium-webfont.woff') format('woff'), url('basiercirclemono-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'basier_circle_monoregular';
    src: url('basiercirclemono-regular-webfont.eot');
    src: url('basiercirclemono-regular-webfont.eot?#iefix') format('embedded-opentype'), url('basiercirclemono-regular-webfont.woff2') format('woff2'), url('basiercirclemono-regular-webfont.woff') format('woff'), url('basiercirclemono-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    /* Firefox */
    -webkit-animation: fadein 1s;
    /* Safari and Chrome */
    -o-animation: fadein 1s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* * {
    border-style: solid;
    border-width: 1px;
} */

/* NAVIGATION */

body {
    background-color: rgb(20, 20, 20);
    margin: 0;
    padding: 0;
}

.navbar, .navbar2 {
    margin: auto;
    width: 90%;
    display: flex;
    flex: 1;
    font-family: 'basier_circleregular';
    font-size: .8rem;
    height: auto;
    line-height: 25px;
    color: white;
}

.navbar {
    padding-top: 50px;
}

.navbar2 {
    padding-bottom: 50px;
}

.navbar2 a, .navbar2 a:visited {
    color: white;
    text-decoration: none;
}

/* MAIN MODULE (TEXT) */

.m-module001 {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    width: 90%;
    font-family: 'basier_circle_monomedium';
    font-size: 2rem;
    line-height: 40px;
    height: auto;
    color: white;
}

.m-module001 a {
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
}

/* ABOUT */

.about {
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    width: 90%;
    display: flex;
    flex: 1;
    font-family: 'basier_circleregular';
    font-size: .8rem;
    height: auto;
    line-height: 25px;
    flex-flow: row wrap;
}

.about a {
    text-decoration: none;
    color: white;
}

.a-module001 {
    font-family: 'basier_circlesemibold';
    font-size: 1rem;
    width: 15%;
}

.a-module001 a {
    font-family: 'basier_circlemedium';
    font-size: .8rem;
    font-weight: 100;
}

.a-module002 {
    width: 130px;
}

.a-module002 a:link {
    opacity: .5;
}

.a-module002 a:hover {
    opacity: 1;
    text-decoration: line-through;
}

.a-module002 hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: rgb(255, 255, 255);
    /* old IE */
    background-color: rgb(78, 78, 78);
    /* Modern Browsers */
}

.a-module-description {
    width: 55%;
}

.a-module-spacer {
    width: 10%;
}

/* FOOTER */

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    bottom: 0px;
    margin: auto;
    width: 90%;
    display: flex;
    flex: 1;
    font-family: 'basier_square_monoregular';
    font-size: .8rem;
    height: auto;
    line-height: 25px;
}

/* MODULES */

.module001 {
    width: 100%;
    color: white;
}

.module001 a:nth-child(1) {
    font-family: 'basier_circlesemibold';
    font-size: 1rem;
    font-size: 1rem;
    color: white;
}

.module001 a:nth-child(1):hover {
    text-decoration: line-through;
}

.module002 {
    text-align: center;
    width: 40%;
    color: white;
}

.module003 {
    width: 100%;
    text-align: right;
    color: white;
}

.module003 i {
    margin-left: 5px;
    margin-right: 5px;
    opacity: .5;
    font-size: 1rem;
}

.module003 i:hover {
    opacity: 1;
}

.module001 a, .module001 a:visited {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.module003 a {
    opacity: .5;
    cursor: pointer;
    padding-left: 20px;
}

.module003 a:hover {
    opacity: 1;
    text-decoration: line-through;
}

.module003 .active {
    opacity: 1;
    text-decoration: line-through;
}

/* PROJECTS */

.projects {
    width: 90%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: 'basier_square_monoregular';
    font-size: .6rem;
    height: auto;
    flex-flow: row wrap;
    margin: auto;
}

.p-module, .p-module002, .p-module003, .p-module004, .p-module005, .p-module006 {
    width: 31%;
    margin: auto;
    padding: 10px;
}

.p-module img, .p-module002 img, .p-module003 img, .p-module004 img, .p-module005 img, .p-module006 img {
    width: 100%;
}

.p-description {
    text-align: center;
    letter-spacing: 2px;
    line-height: 25px;
}

@media only screen and (max-width: 728px) {
    .projects {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        font-family: 'basier_square_monoregular';
        font-size: .6rem;
        height: auto;
        line-height: 80px;
    }
    .p-description {
        text-align: center;
        letter-spacing: 2px;
        margin-top: -20px;
    }
    .p-module, .p-module002, .p-module003, .p-module004, .p-module005, .p-module006 {
        width: 95%;
        margin: auto;
    }
    .p-module img, .p-module002 img, .p-module003 img, .p-module004 img, .p-module005 img, .p-module006 img {
        width: 100%;
    }
    .navbar {
        padding-top: 25px;
        margin: auto;
        width: 90%;
        display: flex;
        flex: 1;
        font-family: 'basier_circleregular';
        font-size: .8rem;
        height: auto;
        line-height: 25px;
    }
    .m-module001 {
        width: 90%;
        padding-bottom: 25px;
        padding-top: 25px;
    }
    .works {
        flex-direction: row;
        width: 90%;
    }
    .w-module001 {
        padding-bottom: 20px;
        padding-top: 0px;
    }
    .w-module002 {
        padding-bottom: 20px;
    }
    .w-module001 {
        width: 40%;
    }
    .w-module002 {
        width: 50%;
        right: 50px;
    }
    .module001 a:nth-child(1) {
        font-family: 'basier_circlesemibold';
        font-size: 1rem;
    }
    .navbar2 {
        padding-bottom: 45px;
        margin: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        flex: 1;
        font-family: 'basier_circleregular';
        font-size: .8rem;
        height: auto;
        line-height: 25px;
    }
    .works {
        flex-flow: row wrap;
    }
    .footer {
        width: 90%;
        padding-top: 25px;
        color: white;
    }
    .about {
        color: white;
        padding-top: 25px;
        padding-bottom: 25px;
        width: 90%;
    }
    .a-module001 {
        padding-top: 50px;
        width: 40%;
    }
    .a-module002 {
        padding-top: 50px;
        width: 50%;
    }
    .a-module-description {
        width: 100%;
    }
    .a-module-spacer {
        width: 0%;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
    .navbar {
        padding-top: 35px;
    }
    .navbar, .navbar2 {
        width: 90%;
    }
    .projects {
        width: 94%;
        display: flex;
        flex-direction: row;
        margin: auto;
        text-align: center;
        font-family: 'basier_square_monoregular';
        font-size: .6rem;
        height: auto;
        line-height: 80px;
    }
    .p-module, .p-module002, .p-module003, .p-module004, .p-module005, .p-module006 {
        width: 45%;
        margin: auto;
    }
    .m-module001 {
        width: 90%;
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .works {
        width: 90%;
    }
    .footer {
        width: 90%;
        padding-top: 25px;
    }
    .p-description {
        text-align: center;
        letter-spacing: 2px;
        margin-top: -20px;
    }
    .about {
        color: white;
        padding-top: 25px;
        padding-bottom: 25px;
        width: 90%;
    }
    .a-module001 {
        padding-top: 50px;
        width: 100px;
    }
    .a-module002 {
        padding-top: 50px;
        width: 200px;
    }
    .a-module-description {
        width: 100%;
    }
    .a-module-spacer {
        width: 0%;
    }
}

@media only screen and (max-width: 2560px) and (min-width: 1600px) {
    body {
        width: 75%;
        margin: auto;
    }
}

.overlay2 {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 5001;
    top: 0;
    left: 0;
    background-color: rgb(20, 20, 20);
    background-color: rgba(0, 0, 0, 0.9);
  
  }
  
  .overlay-content {
    display: flex;
  
    position: relative;
  
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  
  }
  
  .overlay2 a {
    padding: 8px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    font-family: 'basier_circle_monomedium';
    font-size: 1.5rem;
  }
  
  .overlay2 a:hover, .overlay a:focus {}
  
  .overlay2 .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
    color: #f1f1f1;
  }
  
  
  
  .overlay_tagbar {
  
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex: 1;
    height: auto;
  
  }
  
  .overlay_tags {
    font-family: 'basier_circleregular';
    font-size: .8rem;
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(20, 20, 20);
  
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    opacity: .8;
  }
  
  .overlay_tags:hover {
    opacity: 1;
  }
  
  
  .overlay_footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
  }
  
  .footer2 {
    font-family: 'basier_circle_monoregular';
    padding-top: 50px;
    padding-bottom: 35px;
    bottom: 0px;
    margin: auto;
    width: 90%;
    display: flex;
    flex: 1;
    font-size: .8rem;
    color: white;
    height: auto;
    line-height: 25px;
  }
  
  @media only screen and (max-width: 728px) {
    .overlay2 a {
      font-size: 1.5rem;
    }
    .overlay2 .closebtn {
      top: 0px;
      right: 18px;
    }
    .footer2 {
      padding-bottom: 10px;;
    }
    .overlay-content {
      display: flex;
    
      position: relative;
    
      text-align: center;
      left: 40%;
      top: 45%;
      transform: translate(-50%, -50%);
      width: 50%;
    
    }
  }
  
  @media only screen and (min-width: 1441px) {
    /* and (max-width: 2560px)  */
    .overlay2 a {
      font-size: 2.5rem;
    }
  }